<!DOCTYPE html>
<html>
  <head>
    
    <title> Pontus Gifvas</title>
    <meta charset="utf-8" />
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha3841q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
    
    
    
  </head>


  <body>

   <header class="container"> 
   
   <div class="row">
     <h1 class="col-sm-4">Pontus Gifvas</h1>
     <nav class="col-sm-8 text-right"> 
     <p>
       Magic
     </p>
     <p>
       Workshop
     </p>
     
     </nav>
     
     
   </div>
   
   
   </header>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>



  </body>

</html>
